/bootstrap/compiled.php
/vendor
/storage
composer.phar
.env.*.php
.env.php
.env
.env.*
.DS_Store
Thumbs.db
config/app.php
_ide_helper.php
public/assets/data.json
*.sqlite
.idea
public/packages/
.sass-cache
*.iml
/node_modules/
